*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #DDD5D0;
}

h1{
    background-color: #586F6B;
    color: white;
    padding: 5px;
}

nav{
    background-color: #7F9183;
    color: white;
    font-size: 25px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li{
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    border: solid 2px #333;
    background-image: radial-gradient(#586F6B, black);
    border-radius: 15%;
}


/* INDEX */

.contenedor{
    background-color: #DDD5D0;
    display: grid;
    padding-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    grid-gap: 10px;
    grid-row-gap: 5px;
}

.caja{
    min-height: 200px;
    border: solid #333;
    min-width: 200px;
}

.caja1{
    background-color: red;
    background-image: url(/img/bitcoin.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    grid-column: 1/4;
    grid-row: 1/3;
}
.caja2{
    background-color: blue;
    background-image: url(/img/ethereum.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 1/1;
    grid-row: 4/4;
}
.caja3{
    background-color: greenyellow;
    background-image: url(/img/cardano.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 2/2;
    grid-row: 4/4;
}
.caja4{
    background-color: yellow;
    background-image: url(/img/litecoin.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 3/3;
    grid-row: 4/4;
}

/* TRANSITIONS */

.caja1:hover{
    transition: 2s;
    height: 700px;
}

/* STAFF */

.contenedor2{
    background-color: #DDD5D0;
    display: grid;
    padding-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
    grid-gap: 100px;
    grid-row-gap: 50px;
}
.scaja{
    min-height: 200px;
    border: solid #333;
    min-width: 200px;
}

.scaja1{
    background-color: red;
    background-image: url(/img/bezos.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    grid-column: 1/1;
    grid-row: 1/1;
}
.scaja2{
    background-color: blue;
    background-image: url(/img/musk.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 2/2;
    grid-row: 1/1;
}
.scaja3{
    background-color: black;
    grid-column: 1/1;
    grid-row: 2/2;
}
.scaja4{
    background-color: black;
    grid-column: 2/2;
    grid-row: 2/2;
}

.divstaff{
    color: white;
    font-size: 20px;
}
